@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables";
@import "./dataTable.scss";
@import "./structure.scss";
@import "./utilities.scss";

// $primary: #58a1fd;
// $danger: #fd413b;
// $success: #50d968;
// $text-color: #333333;
// $line-color: #d7d7d7;

.avatar-icon {
  display: inline-block;
  padding: 4px 16px;
  cursor: pointer;
}

.fix-drop-bottom {
  top: 2.9em !important;
  left: -5.5em !important;
}

.wrap-page-title {
  border-bottom: 1px solid $primary;
  margin-bottom: 1em;
  .wrap-content {
    margin-left: 1em;
    display: flex;
    .content {
      position: relative;
      font-size: 18px;
      overflow: hidden;
      color: white;
      padding: 4px 22px;
      text-transform: uppercase;
      font-weight: 500;
      &::before {
        content: "";
        top: -50px;
        left: 8px;
        position: absolute;
        width: 90%;
        height: 150px;
        background: $primary;
        z-index: -1;
        transform: rotate(15deg);
      }
    }
  }
}

.login-box {
  max-width: 600px;
  margin: 7em auto;
  /* text-align: center; */
  // background: linear-gradient(-45deg, lightblue, transparent);
  @extend .bg-linear;
  padding: 3em;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // border-radius: 12px;
  -webkit-box-shadow: -14px 14px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -14px 14px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: -14px 14px 10px -4px rgba(0, 0, 0, 0.5);

  .header {
    padding: 2em;
  }

  .body {
    .text-forgot {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.footer {
  padding: 1em 0;
  margin-top: 11em;
}

.semester {
  display: none;
}

.trigger-semester.active {
  background-color: $primary;
  color: white;
}
